@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.dark {
  background-color: #0f172a;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.3s linear;
}
